<ion-content [fullscreen]="true" class="ion-padding" class="center-page">

  <!-- Connexion -->
  <div class="container" *ngIf="screen == 'signin'">
    <h1 class="heading"><b>👋 Bienvenue dans l'espace citoyen</b></h1>
    <p class="para">Veuillez vous connecter pour continuer.</p>
    <img src="assets/login.gif" alt="Image de bienvenue" class="header-image" />

    <form [formGroup]="loginForm" *ngIf="screen === 'signin'" (ngSubmit)="login()">
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>📧 Email</legend>
          <ion-input formControlName="email" type="email" placeholder="name@domain.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-note color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        L'email est requis et doit être valide.
      </ion-note>
    
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>🔐 Mot de passe</legend>
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <ion-note color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Le mot de passe est requis.
      </ion-note>
    
      <p class="forget-text">
        <a (click)="change('forget')">Mot de passe oublié ?</a>
      </p>
      <p class="signup-text">
        Vous êtes nouveau ici ? <a (click)="change('signup')">Créer un compte</a>
      </p>
    
      <ion-button class="login-button" type="submit" expand="block" color="primary">
        Se connecter
      </ion-button>
    </form>
    
  </div>

  <!-- Inscription -->
  <div class="container" *ngIf="screen == 'signup'">
    <img src="assets/logo3.png.png" alt="Image d'inscription" class="header-image" />
    <h1 class="heading">Créer un nouveau compte</h1>

    <form [formGroup]="registerForm" *ngIf="screen === 'signup'" (ngSubmit)="register()">
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>🧑 Nom</legend>
          <ion-input formControlName="nom" placeholder="Votre nom"></ion-input>
        </fieldset>
      </ion-item>
      <ion-note color="danger" *ngIf="registerForm.get('nom')?.touched && registerForm.get('nom')?.invalid">
        Le nom est requis.
      </ion-note>
    
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>🧑 Prénom</legend>
          <ion-input formControlName="prenom" placeholder="Votre prénom"></ion-input>
        </fieldset>
      </ion-item>
      <ion-note color="danger" *ngIf="registerForm.get('prenom')?.touched && registerForm.get('prenom')?.invalid">
        Le prénom est requis.
      </ion-note>
    
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>📧 Email</legend>
          <ion-input formControlName="email" type="email" placeholder="email@domaine.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-note color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        L'email est requis et doit être valide.
      </ion-note>
    
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>🔐 Mot de passe</legend>
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <ion-note color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        Le mot de passe est requis.
      </ion-note>
    
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>🔁 Confirmer mot de passe</legend>
          <ion-input formControlName="confirmPassword" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <ion-note color="danger" *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid">
        Veuillez confirmer le mot de passe.
      </ion-note>
    
      <p class="signup-text">
        Déjà membre ? <a (click)="change('signin')">Se connecter</a>
      </p>
    
      <ion-button class="login-button" type="submit" expand="block" color="success">
        S'inscrire
      </ion-button>
    </form>
    
  </div>

  <!-- Mot de passe oublié -->
  <div class="container" *ngIf="screen == 'forget'">
    <img src="assets/logo3.png.png" alt="Image d'oubli de mot de passe" class="header-image" />
    <h1 class="heading">🔑 Mot de passe oublié ?</h1>
    <p class="para">
      <b>Veuillez entrer votre adresse email pour réinitialiser votre mot de passe.</b>
    </p>

    <ion-item lines="none" class="ion-item">
      <fieldset class="input-item">
        <legend>📧 Email</legend>
        <ion-input type="email" placeholder="email@domain.com" required></ion-input>
      </fieldset>
    </ion-item>

    <p class="signup-text">
      Vous vous souvenez de votre mot de passe ? <a (click)="change('signin')">Se connecter</a>
    </p>

    <ion-button class="login-button" expand="block" color="warning">
      🔄 Réinitialiser
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="ion-text-center ion-padding">❤️ &nbsp; <a>Trashy +</a></p>
  </ion-toolbar>
</ion-footer>
