
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px; 
  
 
  .header-image {
    width: 150px;
    height: auto;
    margin-bottom: 24px;
    border-radius: 80%; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
  }
  .header-image:hover {
    transform: scale(1.1); 
  }

  .centered-form {
    width: 100%;
    max-width: 400px; 
  }
  
 
  .heading {
    font-size: 24px; 
    margin-bottom: 20px;
  }
  
  
  .para {
    font-size: 16px;
    margin-bottom: 20px;
  }
  

  .ion-item {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input-item {
    width: 100%;
  }
  
  
  .login-button {
    margin-top: 20px;
    font-size: 16px; 
  }
  
  
  .forget-text, .signup-text {
    font-size: 14px; 
    margin-top: 10px;
  }
  
  .forget-text a, .signup-text a {
    color: #140f64; 
    text-decoration: none;
  }
  
  .forget-text a:hover, .signup-text a:hover {
    text-decoration: underline; 
  }
}