<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Espace Citoyen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img src="assets/img1.png" alt="Bienvenue" class="header-image">
    <h1 class="heading">Bienvenue dans votre espace citoyen</h1>
    <p class="para">Vous êtes maintenant connecté.</p>
    

    <!-- Conteneur pour les boutons et les images -->
    <div class="button-grid">
      <!-- Premier bouton avec image -->
      <div class="button-item">
        <img src="assets/img2.png" alt="Horaires" class="button-icon">
        <ion-button class="custom-button" (click)="consulterHoraires()" expand="block">
          Consulter les horaires de collecte
        </ion-button>
      </div>

      <!-- Deuxième bouton avec image -->
      <div class="button-item">
        <img src="assets/img3.jpg" alt="Signaler" class="button-icon">
        <ion-button class="custom-button" (click)="signalerProbleme()" expand="block">
          Signaler un problème
        </ion-button>
      </div>
    </div>

    <!-- Bouton de déconnexion -->
    <ion-button class="logout-button" (click)="logout()" expand="block">Se déconnecter</ion-button>
  </div>
</ion-content>