<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Espace Citoyen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center-page">
  <div class="container">
    <img src="assets/logo3.png.png" alt="Bienvenue" class="header-image">
    <h1 class="heading">Bienvenue dans votre espace citoyen</h1>
    <p class="para">Vous êtes maintenant connecté.</p>

    
    <div class="button-grid">
      
      <div class="button-item">
        <img src="assets/img2.png" alt="Horaires" class="button-icon">
        <ion-button class="custom-button" (click)="consulterHoraires()" expand="block">
          Consulter les horaires de collecte
        </ion-button>
      </div>

      
      <div class="button-item">
        <img src="assets/img3.jpg" alt="Signaler" class="button-icon">
        <ion-button class="custom-button" (click)="signalerProbleme()" expand="block">
          Signaler un problème
        </ion-button>
      </div>

      
      <div class="button-item">
        <img src="assets/img5.png" alt="Rémunération" class="button-icon">
        <ion-button class="custom-button" (click)="consulterRemuneration()" expand="block">
          Consulter la rémunération
        </ion-button>
      </div>
    </div>

    
    <ion-button class="logout-button" (click)="logout()" expand="block">Se déconnecter</ion-button>
  </div>
</ion-content>
