<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consultation des horaires des collectes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
   
    <div class="gif-side">
      <video class="gif-img" autoplay muted loop playsinline>
        <source src="assets/vid.mp4" type="video/mp4" />
        Votre navigateur ne supporte pas la lecture de vidéos.
      </video>
    </div>

    <div class="form-side">
      <div class="form-wrapper">
        <form (ngSubmit)="openHoraireModal(form.value)" #form="ngForm" class="form-content">
          <ion-item>
            <ion-label>Rue</ion-label>
            <ion-input type="text" name="streetName" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Code Postal</ion-label>
            <ion-input type="text" name="postalCode" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Sélectionner votre lieu</ion-label>
            <ion-select name="selectedLocation" ngModel required>
              <ion-select-option *ngFor="let lieu of lieux" [value]="lieu">{{ lieu }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="block" type="submit" [disabled]="form.invalid">Consulter</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
